/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

nav {
    padding-bottom: 13px;
}


/* ----------------------------------------------- */


/* REUSABLE COMPONENTS */


/* ----------------------------------------------- */

.btn-contact {
    height: 53px;
    width: 346px;
    border-radius: 5px;
    background-color: #FF7930;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.34px;
    line-height: 21px;
    text-align: center;
    padding-top: 15px;
    margin-left: 70px;
    text-decoration: none;
}

#map-OH {
    height: 408px;
    width: 753px;
    position: absolute;
    top: 0;
    right: 0;
}

#map-CA {
    height: 408px;
    width: 753px;
    position: absolute;
    top: 0;
    right: 0;
}

section.main-section .row h1 {
    color: #303237;
    font-size: 40px;
    letter-spacing: -0.25px;
    line-height: 47px;
    font-weight: 400;
}

.splide__arrows {
    display: none;
}

.btn {
    height: 42px;
    width: 143px;
    border-radius: 5px;
    background-color: #ff7930;
    padding: 11px 45px 12px 45px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
}

.btn-all-safes {
    height: 42px;
    width: 271px;
    border-radius: 5px;
    background-color: #45474D;
    padding: 5px 53px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 19px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-item {
    -webkit-flex: none;
    flex: 1;
    display: flex;
}

.main-section {
    background-color: #f2f2f2;
    padding-bottom: 80px;
}

.block {
    display: block;
}


/* ----------------------------------------------- */


/* HEADER */


/* ----------------------------------------------- */

header {
    color: #303237;
}

.logo {
    position: absolute;
    height: 100px;
    width: auto;
    float: left;
    top: 0;
}

.headerSmall {
    position: relative;
}

.search-container {
    height: 30px;
    width: 251px;
    background-color: #45474d;
    position: relative;
    margin: 0;
}

.search-container svg {
    position: absolute;
    right: 5%;
    top: 25%;
}

.search-input {
    color: #fff;
    border: none;
    background-color: #45474d;
    outline: none;
    padding-left: 5px;
}

.phone-link {
    color: white;
    text-decoration: none;
    margin: 0;
}

.phone-link.col {
    padding-top: 0.5%;
    margin-left: 30px;
}

.contacts-link.col {
    padding-top: 0.5%;
    margin-left: 30px;
}

.search-container.col {
    margin-left: 30px;
}

.contacts-link {
    color: white;
    text-decoration: none;
    margin: 0;
}

.headerSmallItems {
    margin-left: 100px;
    position: relative;
}

.headerSmallContact svg {
    margin-top: 5px;
}

.headerSmall input {
    width: 251px;
    height: 30px;
}

.language-checkout {
    position: relative;
    float: right;
}

.language {
    padding-top: 7px;
    color: #b7b8c0;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
}

.checkout {
    padding-left: 20px;
    padding-top: 7px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
}


/* Main navi */

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    padding-top: 15px;
    display: inline-block;
    margin-left: 60px;
}

.main-nav a {
    color: #303237;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 19px;
    text-align: right;
    text-decoration: none;
}

.headerSmall {
    height: 30px;
    background-color: #303237;
    position: relative;
}


/* ----------------------------------------------- */


/* FOOTER */


/* ----------------------------------------------- */

.footer-1 {
    height: 143px;
    background-color: #45474d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2 {
    background-color: #3d3f45;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-3 {
    background-color: #303237;
    height: 50px;
    color: #8f9299;
    line-height: 14px;
    font-size: 12px;
}

.footer-3 p {
    padding-top: 1.7%;
}

.footer h3 {
    height: 32px;
    width: 117px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.32px;
    line-height: 16px;
}

.footer p {
    color: #7c7f87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.28px;
    line-height: 14px;
}

.footer-2-part-3 a {
    color: #ffffff;
    font-size: 13px;
    text-align: right;
    text-decoration: none;
}

.logo-bottom {
    float: left;
    height: 36px;
    width: 156px;
    margin-right: 150px;
}

.footer-2-part-2 {
    float: left;
}

.footer-2-part-2 p {
    margin-bottom: 30px;
    margin-top: 30px;
}

.col.span-1-of-4 h3 {
    width: 180px;
}

.col.span-1-of-4 a {
    width: 180px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #7b7e85;
}

.col.span-1-of-4 a:hover {
    color: #ff7930;
}

.col.span-1-of-6 h3 {
    height: 32px;
    width: 130px;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 20px;
}

p.icon-title {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.32px;
    line-height: 16px;
}

p.icon-col {
    color: #8f9299;
    font-size: 12px;
    letter-spacing: -0.28px;
    line-height: 14px;
    padding-top: 10px;
}

.footer-2-part-2 p {
    height: 72px;
    width: 1140px;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: -0.22px;
    line-height: 15px;
    text-align: justify;
}

.footer-2-part-2 p a {
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    overflow: auto;
    z-index: 1;
    margin-top: 28px;
    height: 390px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.99);
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.09);
    z-index: 1500;
}

.dropdown-content h2 {
    color: #303237;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: 19px;
    text-transform: uppercase;
}

.drop-menu-left h2:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 212px;
    background-color: #242424;
    margin-left: 15px;
    margin-top: 7px;
}

.drop-menu-right h2:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 306px;
    background-color: #242424;
    margin-left: 15px;
    margin-top: 7px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    color: #45474D;
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 32px;
}

.show {
    display: block;
}

.main-nav svg {
    margin-bottom: 3px;
}

.columns {
    margin-top: 19px;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.drop-menu-left,
.drop-menu-right {
    margin-top: 68px;
}

.line-3 {
    height: 2px;
    width: 212px;
    border: 2px solid #B7B8C0;
}

.dropdown-content a:hover {
    color: #ff7930;
}

.columns span {
    color: #818181;
}

.columns span:hover {
    color: #ff7930;
}

.btn-all-safes span {
    color: #ff7930;
    margin-left: 5px;
}

a.btn-all-safes {
    color: #fff;
}

a.btn-all-safes:hover {
    color: #fff;
}


/* ----------------------------------------------- */


/* POPUP WITH OVERFLOW */


/* ----------------------------------------------- */

.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.bg-modal1 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.modal-contents {
    padding-top: 50px;
    height: 733px;
    width: 869px;
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
    overflow: hidden;
}

.modal-contents1 {
    padding-top: 50px;
    height: 733px;
    width: 869px;
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
    overflow: hidden;
}

.modal-overflow {
    overflow-y: auto;
    height: 95%;
    padding-right: 20px;
}

 ::-webkit-scrollbar {
    width: 4px;
    background-color: #F2F2F2;
}

 ::-webkit-scrollbar-track {
    border-radius: 5px;
    width: 4px;
}

 ::-webkit-scrollbar-thumb {
    background-color: #FF7930;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.close1 {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-contents li {
    list-style: none;
}

.modal-contents li:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF7930;
    margin-right: 30px;
    bottom: 3px;
    position: relative;
}

.modal-contents ul {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-contents h2 {
    color: #303237;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.15px;
    line-height: 28px;
}

.rectangles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-bottom: 43px;
}

.rec1 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #7B7E85;
    padding-top: 30px;
}

.rec2 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #35E3B6;
    padding-top: 30px;
}

.rec3 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #FF7930;
    padding-top: 30px;
}

.modal-contents1 li:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF7930;
    margin-right: 30px;
    bottom: 3px;
    position: relative;
}

.modal-contents1 li {
    list-style: none;
}

.modal-contents1 h1 {
    color: #303237;
    font-family: Roboto;
    font-size: 40px;
    letter-spacing: -0.25px;
    line-height: 47px;
    font-weight: 500;
}

.modal-contents1 h2 {
    color: #303237;
    font-family: Roboto;
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 38px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 32px;
}


/* ----------------------------------------------- */


/* MAIN SECTION */


/* ----------------------------------------------- */

.gamintojas-title {
    position: relative;
}

.gamintojas-title .flex-container p {
    position: absolute;
    top: 40%;
    right: 0;
    color: #303237;
    font-size: 12px;
    letter-spacing: -0.07px;
    line-height: 14px;
    text-align: right;
}

.accordion h3 {
    outline: none;
    border: none;
    color: #303237;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    padding-bottom: 5px;
}

.accordion svg {
    float: right;
    margin-top: 25px;
    transform: rotate(90deg);
}

.ui-accordion-header-active.ui-state-active svg {
    transform: rotate(0deg);
}

#gamintojas-accordion h3,
#gamintojas-second-accordion h3 {
    color: #45474D;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-align: left;
}

.panel {
    padding-right: 10px;
    padding-left: 10px;
    height: 80px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-top: 10px;
    width: 560px;
    margin-right: 20px;
}

.panel:hover {
    border: 1px solid #ff7930;
}

.panel p {
    text-align: left;
    color: #45474D;
    font-size: 12px;
    letter-spacing: -0.07px;
    line-height: 14px;
}

.input-wrapper {
    background-color: #fff;
    width: 560px;
    border-radius: 3px;
    padding-left: 50px;
}

.gamintojo-logo {
    height: 55px;
    width: 131px;
    background-color: #ff7930;
}

.text-wrapper {
    position: relative;
}

.text-wrapper svg {
    position: absolute;
    right: 0;
}

.text-wrapper {
    padding-left: 20px;
    padding-top: 8px;
}

.banner {
    height: 276px;
    width: 573px;
}

.how-to {
    border-radius: 3px;
    background-color: #ff7930;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.03);
    position: relative;
    margin-top: 10px;
    width: 560px;
}

img.how-to-banner {
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 50px;
}

.how-to svg {
    position: absolute;
    right: 10px;
    top: 10px;
}

p.how-to-banner-text {
    z-index: 150;
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
    width: 298px;
}

.how-to-banner {
    position: relative;
}

p.how-to-banner-text {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.89px;
    line-height: 40px;
}

p.how-to-banner-text.two {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
}

.how-to div {
    position: absolute;
    top: 42px;
    left: 30px;
}

.btn-banner {
    position: absolute;
    border-radius: 5px;
    background-color: #303237;
    padding: 11px 67px 12px 24px;
    left: 30px;
    bottom: 46px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 19px;
}

.how-to svg {
    position: absolute;
    right: 10px;
    top: -15px;
}

.input-wrapper a {
    text-decoration: none;
    color: #45474D;
    margin-bottom: 20px;
}

.safe-block-left,
.safe-block-right {
    margin-bottom: 50px;
    margin-top: 50px;
}

.safe-block-right {
    margin-left: 100px;
}