/* ----------------------------------------------- */


/* BASIC SETUP */


/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

nav {
    padding-bottom: 13px;
}


/* ----------------------------------------------- */


/* REUSABLE COMPONENTS */


/* ----------------------------------------------- */

.btn-all-safes {
    height: 42px;
    width: 271px;
    border-radius: 5px;
    background-color: #45474D;
    padding: 5px 53px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 19px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 1%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.flex-item {
    -webkit-flex: none;
    flex: 1;
    display: flex;
    align-items: center;
}

.main-section {
    background-color: #f2f2f2;
}

.btn-green {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #35e3b6;
    left: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 19px;
    text-decoration: none;
}

.btn-lease {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 19px;
    text-decoration: none;
    right: 50%;
}

.green-oval {
    height: 17px;
    width: 17px;
    background-color: #52eec6;
    border-radius: 50%;
}

.free-delivery-text {
    color: #ff7930;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.in-stock-text {
    color: #303237;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.block {
    display: block;
}


/* ----------------------------------------------- */


/* HEADER */


/* ----------------------------------------------- */

header {
    color: #303237;
}

.logo {
    position: absolute;
    height: 100px;
    width: auto;
    float: left;
    top: 0;
}

.headerSmall {
    position: relative;
}

.search-container {
    height: 30px;
    width: 251px;
    background-color: #45474d;
    position: relative;
    margin: 0;
}

.search-container svg {
    position: absolute;
    right: 5%;
    top: 25%;
}

.search-input {
    color: #fff;
    border: none;
    background-color: #45474d;
}

.phone-link {
    color: white;
    text-decoration: none;
    margin: 0;
}

.phone-link.col {
    padding-top: 0.5%;
    margin-left: 30px;
}

.contacts-link.col {
    padding-top: 0.5%;
    margin-left: 30px;
}

.search-container.col {
    margin-left: 30px;
}

.contacts-link {
    color: white;
    text-decoration: none;
    margin: 0;
}

.headerSmallItems {
    margin-left: 100px;
    position: relative;
}

.headerSmallContact svg {
    margin-top: 5px;
}

.headerSmall input {
    width: 251px;
    height: 30px;
}

.language-checkout {
    position: relative;
    float: right;
}

.language {
    padding-top: 7px;
    color: #b7b8c0;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
}

.checkout {
    padding-left: 20px;
    padding-top: 7px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
    margin: 0;
}


/* Main navi */

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li {
    padding-top: 15px;
    display: inline-block;
    margin-left: 60px;
}

.main-nav a {
    color: #303237;
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 19px;
    text-align: right;
    text-decoration: none;
}

.btn {
    height: 42px;
    width: 143px;
    border-radius: 5px;
    background-color: #ff7930;
    padding: 11px 45px 12px 45px;
    padding: 11px 45px 12px 45px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: none;
}

.headerSmall {
    height: 30px;
    background-color: #303237;
    position: relative;
}


/* ----------------------------------------------- */


/* PRODUCT PAGE */


/* ----------------------------------------------- */

.main-section {
    background-color: #f2f2f2;
}

.product-box {
    width: 1139px;
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 110px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.03);
}

.discount-price-line {
    color: #bdbec5;
    font-weight: 300;
    font-size: 30px;
}

.discount-price-line::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #bdbec5;
    width: 100px;
    transform: rotate(-21deg);
    margin-top: 21px;
}

.discount-price {
    color: #ff7930;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 24px;
}

.prices p {
    display: inline;
}

.prices {
    margin-bottom: 20px;
}

.flex-item.product-add-to-cart {
    display: block;
}

.flex-item {
    display: block;
}

.buttons-block {
    display: block;
    height: 42px;
    width: 230px;
    padding-left: 10px;
}

.prices span {
    vertical-align: 10px;
}

.price-add-to-cart.flex-container {
    margin-top: 39px;
}


/* ----------------------------------------------- */


/* FOOTER */


/* ----------------------------------------------- */

.footer-1 {
    height: 143px;
    background-color: #45474d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2 {
    background-color: #3d3f45;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-3 {
    background-color: #303237;
    height: 50px;
    color: #8f9299;
    line-height: 14px;
    font-size: 12px;
}

.footer-3 p {
    padding-top: 1.7%;
}

.footer h3 {
    height: 32px;
    width: 117px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.32px;
    line-height: 16px;
}

.footer p {
    color: #7c7f87;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: -0.28px;
    line-height: 14px;
}

.footer-2-part-3 a {
    color: #ffffff;
    font-size: 13px;
    text-align: right;
    text-decoration: none;
}

.logo-bottom {
    float: left;
    height: 36px;
    width: 156px;
    margin-right: 150px;
}

.footer-2-part-2 {
    float: left;
}

.footer-2-part-2 p {
    margin-bottom: 30px;
    margin-top: 30px;
}

.col.span-1-of-4 h3 {
    width: 180px;
}

.col.span-1-of-4 a {
    width: 180px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: #7b7e85;
}

.col.span-1-of-4 a:hover {
    color: #ff7930;
}

.col.span-1-of-6 h3 {
    height: 32px;
    width: 130px;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 20px;
}

p.icon-title {
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.32px;
    line-height: 16px;
}

p.icon-col {
    color: #8f9299;
    font-size: 12px;
    letter-spacing: -0.28px;
    line-height: 14px;
    padding-top: 10px;
}

.footer-2-part-2 p {
    height: 72px;
    width: 1140px;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: -0.22px;
    line-height: 15px;
    text-align: justify;
}

.footer-2-part-2 p a {
    color: #fff;
}

.icon-col span {
    color: #ff7930;
    font-weight: 600;
}

a.btn-green.buttons-block {
    margin-bottom: 20px;
}

.add-to-cart-lease {
    color: #303237;
    font-size: 27px;
    font-weight: 300;
    letter-spacing: -1.4px;
    line-height: 32px;
}

.specifications-left.flex-item p {
    color: #b7b8c0;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 12px;
}

.specifications-right.flex-item p {
    color: #303237;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
    margin-bottom: 12px;
}

.specifications-right {
    float: right;
}

.flex-item.add-to-cart-buttons {
    float: right;
}

.safe-progress-bar {
    height: 6px;
    width: 229px;
    background-color: #f2f2f2;
    position: relative;
    top: 6px;
}

.safe-progress-bar:after {
    height: 6px;
    width: 63px;
    background-color: #52eec6;
    position: absolute;
    content: "";
    display: block;
}

.fire-progress-bar {
    height: 6px;
    width: 229px;
    background-color: #f2f2f2;
    position: relative;
    top: 30px;
}

.fire-progress-bar:after {
    height: 6px;
    width: 120px;
    background-color: #ff7930;
    position: absolute;
    content: "";
    display: block;
    left: 0;
}

.product-photo {
    background-image: url(/resources/img/safe-hero.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
}

.small-icons {
    color: #b7b8c0;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 10px;
}

.small-icons svg {
    position: relative;
    top: 5px;
}

.product-sizes-box {
    border-radius: 5px;
    background-color: #fff;
    margin: auto;
    margin-bottom: 100px;
}

.about-titles h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #b7b8c0;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 19px;
    font-weight: 300;
}

.about-titles p {
    font-size: 12px;
    color: black;
    line-height: 16px;
}

.flex-item.product-info-left h2 {
    color: #303237;
    font-size: 20px;
    letter-spacing: -0.2px;
    line-height: 38px;
}

.add-to-cart-buttons a {
    margin-left: 18px;
}

.line {
    height: 2px;
    width: 100%;
    margin-top: 33px;
    margin-bottom: 33px;
    background-color: #f2f2f2;
}

.small-navigation {
    position: relative;
}

.small-navigation span {
    color: #303237;
    font-size: 12px;
    letter-spacing: -0.07px;
    line-height: 14px;
    position: absolute;
    right: 0;
    top: 58px;
}

.add-to-cart-button {
    position: absolute;
    border-radius: 5px;
    background-color: #35e3b6;
    padding: 11px 67px 12px 24px;
    top: 0;
    right: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    height: 42px;
    width: 230px;
}

.add-to-lease-button {
    position: absolute;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 11px 72px 12px 16px;
    background-color: #f2f2f2;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: #7b7e85;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 19px;
    height: 42px;
    width: 230px;
}

.add-to-cart-buttons svg {
    position: absolute;
    right: 5%;
    top: 15%;
}

.add-to-cart-right.span-1-of-2 {
    position: relative;
}

.back-to-list {
    color: #303237;
    font-size: 12px;
    letter-spacing: -0.07px;
    line-height: 14px;
    position: relative;
}

.back-to-list span {
    color: #303237;
    font-size: 12px;
    letter-spacing: -0.07px;
    line-height: 14px;
    position: absolute;
    left: 0;
    top: 50px;
}

.back-to-list i {
    position: relative;
    top: 5px;
    margin-right: 5px;
}

.about-photo {
    padding-bottom: 82px;
}

.about-photo {
    text-align: center;
}

.about-photo p:nth-child(3) {
    font-weight: 600;
}

.about-titles span {
    display: block;
    color: #ff7930;
    font-weight: 400;
}

.discount-tag {
    position: relative;
    text-align: center;
    color: white;
    bottom: 10px;
    float: right;
}

.text-centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 24px;
    text-align: center;
}

.product-title-info {
    position: relative;
}

.product-title-info h1 {
    margin-top: 50px;
}

.product-sizes-box {
    justify-content: center;
    align-items: center;
}

.table-header h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #7b7e85;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
    font-weight: 400;
}

.flex-container.table-content {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #303237;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: center;
}

#primary-slider {
    margin-left: 18%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-photo-column {
    position: relative;
}

.product-photo svg {
    position: absolute;
    left: 33%;
    top: 25%;
}

.free-delivery {
    position: absolute;
    top: 20px;
}

.free-delivery .text-centered {
    color: #ffffff;
    font-size: 11px;
    letter-spacing: -0.5px;
    line-height: 13px;
    top: 60%;
}

.table-price {
    color: #303237;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 16px;
}

.prices-table span {
    vertical-align: 5px;
}

.prices-table p {
    display: inline;
}

body>section.main-section>div.product-card.row>div>div>div.product-sizes-box.row>div>div:nth-child(3)>div:nth-child(7)>div>p.discount-price.block {
    color: #ff7930;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 16px;
}

body>section.main-section>div.product-card.row>div>div>div.product-sizes-box.row>div>div:nth-child(3)>div:nth-child(7)>div>p.discount-price-line.block {
    color: #bdbec5;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.6px;
    line-height: 16px;
    font-weight: 300;
}

body>section.main-section>div.product-card.row>div>div>div.product-sizes-box.row>div>div:nth-child(3)>div:nth-child(7)>div>p.discount-price-line.block::before {
    position: absolute;
    content: "";
    height: 1px;
    background-color: #bdbec5;
    width: 50px;
    transform: rotate(-21deg);
    margin-top: 10px;
}

.table-content:hover {
    background-color: #35e3b6;
}

.table-content:hover .cart-icon,
.table-content .cart-icon-hover {
    display: none;
}

.table-content:hover .cart-icon-hover,
.table-content .cart-icon {
    display: block;
}

.info-icons:hover .info-icon,
.info-icons .info-icon-hover {
    display: none;
}

.info-icons:hover .info-icon-hover,
.info-icons .info-icon {
    display: block;
}

.chatbox {
    margin-left: 15px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    width: 171px;
    height: 47px;
    background-color: #ff7930;
    border-radius: 5px;
    font-size: 10px;
    color: #fff;
    display: none;
}

.chatbox::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 5%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #ff7930;
    border-bottom: 5px solid transparent;
    clear: both;
}

.inline-elements {
    display: inline-flex;
}

.info-icons {
    position: relative;
    top: 15px;
    left: 3px;
}

.chatbox-wrapper {
    position: relative;
    bottom: 28px;
    left: 10px;
}

.info-icons:hover .chatbox {
    display: block
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    overflow: auto;
    z-index: 1;
    margin-top: 28px;
    height: 390px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.99);
    box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.09);
    z-index: 1500;
}

.dropdown-content h2 {
    color: #303237;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.11px;
    line-height: 19px;
    text-transform: uppercase;
}

.drop-menu-left h2:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 212px;
    background-color: #242424;
    margin-left: 15px;
    margin-top: 7px;
}

.drop-menu-right h2:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 306px;
    background-color: #242424;
    margin-left: 15px;
    margin-top: 7px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    color: #45474D;
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 32px;
}

.show {
    display: block;
}

.main-nav svg {
    margin-bottom: 3px;
}

.columns {
    margin-top: 19px;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}

.drop-menu-left,
.drop-menu-right {
    margin-top: 68px;
}

.line-3 {
    height: 2px;
    width: 212px;
    border: 2px solid #B7B8C0;
}

.dropdown-content a:hover {
    color: #ff7930;
}

.columns span {
    color: #818181;
}

.columns span:hover {
    color: #ff7930;
}

.btn-all-safes span {
    color: #ff7930;
    margin-left: 5px;
}

a.btn-all-safes {
    color: #fff;
}

a.btn-all-safes:hover {
    color: #fff;
}


/* ----------------------------------------------- */


/* POPUP WITH OVERFLOW */


/* ----------------------------------------------- */

.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.bg-modal1 {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5000;
}

.modal-contents {
    padding-top: 50px;
    height: 733px;
    width: 869px;
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
    overflow: hidden;
}

.modal-contents1 {
    padding-top: 50px;
    height: 733px;
    width: 869px;
    background-color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    text-align: left;
    overflow: hidden;
}

.modal-overflow {
    overflow-y: auto;
    height: 95%;
    padding-right: 20px;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #F2F2F2;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF7930;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.close1 {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-contents li {
    list-style: none;
}

.modal-contents li:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF7930;
    margin-right: 30px;
    bottom: 3px;
    position: relative;
}

.modal-contents ul {
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal-contents h2 {
    color: #303237;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.15px;
    line-height: 28px;
}

.rectangles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-bottom: 43px;
}

.rec1 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #7B7E85;
    padding-top: 30px;
}

.rec2 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #35E3B6;
    padding-top: 30px;
}

.rec3 {
    height: 109px;
    width: 213px;
    border-radius: 8px;
    background-color: #FF7930;
    padding-top: 30px;
}

.modal-contents1 li:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #FF7930;
    margin-right: 30px;
    bottom: 3px;
    position: relative;
}

.modal-contents1 li {
    list-style: none;
}

.modal-contents1 h1 {
    color: #303237;
    font-family: Roboto;
    font-size: 40px;
    letter-spacing: -0.25px;
    line-height: 47px;
    font-weight: 500;
}

.modal-contents1 h2 {
    color: #303237;
    font-family: Roboto;
    font-size: 32px;
    letter-spacing: -0.2px;
    line-height: 38px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 32px;
}